In [14]:
import requests
import pandas as pd
import io  # Helps read CSV from a string

url = "https://api.vitaldb.net/cases"

response = requests.get(url)

if response.status_code == 200 and response.text.strip():
    try:
        df = pd.read_csv(io.StringIO(response.text))
        
        df.to_csv("cases.csv", index=False)
        print("CSV file saved as 'cases.csv'")

    except Exception as e:
        print("Error parsing CSV:", e)
else:
    print("Failed to fetch data or received an empty response.")
    print(f"Status Code: {response.status_code}")

cases = pd.read_csv("cases.csv")
cases

CSV file saved as 'cases.csv'

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
0,1,5955,0,11542,-552,10848.0,1668,10368,-236220,627780,...,0,120,0.0,100,70,0,10,0,0,0
1,2,2487,0,15741,-1039,14921.0,1721,14621,-221160,1506840,...,0,150,0.0,0,100,0,20,0,0,0
2,3,2861,0,4394,-590,4210.0,1090,3010,-218640,40560,...,0,0,0.0,0,50,0,0,0,0,0
3,4,1903,0,20990,-778,20222.0,2522,17822,-201120,576480,...,0,80,0.0,100,100,0,50,0,0,0
4,5,4416,0,21531,-1009,22391.0,2591,20291,-67560,3734040,...,0,0,0.0,0,160,0,10,900,0,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6383,6384,5583,0,15248,-260,15640.0,2140,14140,-215340,648660,...,0,150,0.0,0,90,0,20,0,0,0
6384,6385,2278,0,20643,-544,20996.0,2396,19496,-225600,1675200,...,0,100,0.0,0,100,0,25,30,0,300
6385,6386,4045,0,19451,-667,19133.0,3533,18233,-200460,836340,...,0,70,0.0,0,130,0,10,0,0,0
6386,6387,5230,0,12025,-550,12830.0,1730,11030,-227760,377040,...,0,120,0.0,0,50,0,0,0,0,0
6387,6388,1306,0,10249,-79,10121.0,2321,9221,-312060,379140,...,500,120,0.0,0,90,0,20,0,0,0

In [15]:
cases = cases[['caseid', 'age', 'height', 'weight', 'bmi', 'emop', 'ane_type', 'optype']]
cases

      caseid   age  height  weight   bmi  emop ane_type            optype
0          1  77.0   160.2   67.50  26.3     0  General        Colorectal
1          2  54.0   167.3   54.80  19.6     0  General           Stomach
2          3  62.0   169.1   69.70  24.4     0  General  Biliary/Pancreas
3          4  74.0   160.6   53.00  20.5     0  General           Stomach
4          5  66.0   171.0   59.70  20.4     1  General          Vascular
...      ...   ...     ...     ...   ...   ...      ...               ...
6383    6384  64.0   161.5   63.00  24.2     0  General           Stomach
6384    6385  69.0   159.3   62.30  24.6     0  General        Colorectal
6385    6386  61.0   151.7   43.25  18.8     0  General           Stomach
6386    6387  24.0   155.7   55.50  22.9     0  General  Biliary/Pancreas
6387    6388  47.0   150.0   51.50  22.9     0  General   Major resection

[6388 rows x 8 columns]

In [17]:
response = requests.get('https://api.vitaldb.net/trks')

if response.status_code == 200 and response.text.strip():
    try:
        df = pd.read_csv(io.StringIO(response.text))
        
        df.to_csv("trks.csv", index=False)
        print("CSV file saved as 'trks.csv'")

    except Exception as e:
        print("Error parsing CSV:", e)
else:
    print("Failed to fetch data or received an empty response.")
    print(f"Status Code: {response.status_code}")

trks = pd.read_csv("trks.csv")
trks

CSV file saved as 'trks.csv'

,caseid,tname,tid
0,1,BIS/BIS,fd869e25ba82a66cc95b38ed47110bf4f14bb368
1,1,BIS/EEG1_WAV,0aa685df768489a18a5e9f53af0d83bf60890c73
2,1,BIS/EEG2_WAV,ad13b2c39b19193c8ae4a2de4f8315f18d61a57e
3,1,BIS/EMG,2525603efe18d982764dbca457affe7a45e766a9
4,1,BIS/SEF,1c91aec859304840dec75acf4a35da78be0e8ef0
...,...,...,...
486444,6388,Solar8000/VENT_PIP,2d63adbc7e2653f14348e219816673cde3358cf6
486445,6388,Solar8000/VENT_PPLAT,6f6604255858ddc8f6a01b9f4774b0d43105f6da
486446,6388,Solar8000/VENT_RR,f34f3fae7fd963355c1c7060e1e876d20fa87536
486447,6388,Solar8000/VENT_SET_TV,4a4a55b8aebf9c76a4a76f62a7c1ec6fcb80e618
486448,6388,Solar8000/VENT_TV,77453bd3c4bf24ce13e577781a51929281f3b7f2

In [18]:
response = requests.get('https://api.vitaldb.net/1c91aec859304840dec75acf4a35da78be0e8ef0')

if response.status_code == 200 and response.text.strip():
    try:
        df = pd.read_csv(io.StringIO(response.text))
        
        df.to_csv("case4.csv", index=False)
        print("CSV file saved as 'case4.csv'")

    except Exception as e:
        print("Error parsing CSV:", e)
else:
    print("Failed to fetch data or received an empty response.")
    print(f"Status Code: {response.status_code}")

case_4 = pd.read_csv("case4.csv")
case_4

CSV file saved as 'case4.csv'

            Time  BIS/SEF
0        151.156    21.50
1        152.156    21.50
2        153.156    21.50
3        154.156    21.50
4        155.156    20.82
...          ...      ...
10816  10967.200    22.27
10817  10968.200    22.19
10818  10969.200    21.95
10819  10970.200    22.10
10820  10971.200    22.00

[10821 rows x 2 columns]

In [19]:
cases['ane_type'].unique()

array(['General', 'Spinal', 'Sedationalgesia'], dtype=object)